{extend name="public/base"}

{block name="frame"}
<div class="col-sm-12 text-center px-0">
    <table data-toggle="table" data-pagination="true" data-no="{$no}" class="table table-bordered">
        <thead class="thead-light">
        <tr>

            <th scope="col">楼盘</th>
            <th scope="col">标题</th>
            <th scope="col">操作</th>
        </tr>
        </thead>
        <tbody>
        {foreach $list as $key=>$vo }
        <tr>

            <td>{$vo.name}</td>
            <td>{$vo.title}</td>
            <td>
                <button data-id="{$vo.id}" data-toggle="" class="btn btn-warning btn-sm chooseInfo">选择</button>
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    <div class="modal fade" id="labelConfirm">
        <div style="height: 200px;"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body text-center">
                    请选择封推标签
                </div>
                <form id="checkForm">
                    <div class="form-check mx-5">
                        <input class="form-check-input" type="radio" name="labelRadios" id="独家" value="独家" checked>
                        <label class="form-check-label" for="独家">
                            独家
                        </label>
                    </div>
                    <div class="form-check mx-5">
                        <input class="form-check-input" type="radio" name="labelRadios" id="急售" value="急售">
                        <label class="form-check-label" for="急售">
                            急售
                        </label>
                    </div>
                    <div class="form-check mx-5">
                        <input class="form-check-input" type="radio" name="labelRadios" id="特价" value="特价" >
                        <label class="form-check-label" for="特价">
                            特价
                        </label>
                    </div>

                    <hr>
                    <div class="mb-2 row justify-content-around">
                        <button id="submit" type="button" class="btn btn-primary" data-dismiss="modal">确定</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{/block}