</div>
</div>
</div>
</body>
    <script src="__STATIC__/javascript/jquery-3.3.1.min.js" type="application/javascript"></script>
    <script src="__STATIC__/javascript/bootstrap.min.js" type="application/javascript"></script>
    <script src="__STATIC__/javascript/common.js" type="application/javascript"></script>
    <script src="__STATIC__/javascript/cropper.js" type="application/javascript"></script>
    <script src="__STATIC__/javascript/bootstrap-table.min.js" type="application/javascript"></script>
    <script src="__STATIC__/javascript/bootstrap-table-zh-CN.min.js" type="application/javascript"></script>
    <script src="__STATIC__/javascript/{$jsName}.js" type="application/javascript"></script>
</html>