<body>
    <div class='container-fluid'>
        <div class='row align-items-end header'>
            <div class="col-2 align-self-center"><img src='static/logo.png' style="width: 100%"/></div>
            <div class="css1172ec6c1c1c870 title col-7 ">玛雅房屋</div>
            <div class="subtitle col-3 align-self-center">
                <div class="col css11745682b11c870">我们在此生根</div>
                <div class="w-100"></div>
                <div class="col css11745682b11c870" style="text-align: right">和你一起成长</div>
            </div>
        </div>
        <div class='main_frame row'>
            <div class="nav col-2">
                <div id="addHouse" class="nav-bar">增加房源</div>
                <div id="subAddHouse" class="nav-2-bar" >
                    <div id="addResold">出售</div>
                    <div>出租</div>
                </div>
                <div id="mngHouse" class="nav-bar">管理房源</div>
                <div id="subMngHouse" class="nav-2-bar" >
                    <div>出售</div>
                    <div>出租</div>
                </div>
                <div class="nav-bar">人员管理</div>
                <div class="nav-bar">门店管理</div>
            </div>