<body>
<div class="container">
<div class='d-none d-md-block align-items-end mb-1'>
<div class='row mx-0' id="banner">
    <div class="col-3"><img class="img-fluid" src='__STATIC__/logo.png'/></div>
    <div class="col-6 align-self-center text-center h1 css1172ec6c1c1c870">玛雅房屋</div>
    <div class="col-3 align-self-center css11745682b11c870 h3">
        <div class="col">我们在此生根</div>
        <div class="w-100"></div>
        <div class="col" style="text-align: right">和你一起成长</div>
    </div>
</div>
</div>
<div class="row mx-0">
<div class="col-sm-2 row text-center mx-0 px-0">
    <div class="col-4 col-sm-12 mb-1 px-1" >
        <button id="addResold" type="button" class="btn btn-secondary w-100 ">新增二手房</button>
    </div>
    <div class="col-4 col-sm-12 mb-1 px-1" >
        <button type="button" class="btn btn-secondary w-100 ">新增出租房</button>
    </div>
    <div class="col-4 col-sm-12 mb-1 px-1" >
        <button type="button" class="btn btn-secondary w-100 ">管理二手房</button>
    </div>
    <div class="col-4 col-sm-12 mb-1 px-1" >
        <button type="button" class="btn btn-secondary w-100 ">管理出租房</button>
    </div>
    <div class="col-4 col-sm-12 mb-1 px-1" >
        <button id="addStuff" type="button" class="btn btn-secondary w-100 ">添加经纪人</button>
    </div>
    <div class="col-4 col-sm-12 mb-1 px-1" >
        <button id="mdfStuff" type="button" class="btn btn-secondary w-100 ">修改经纪人</button>
    </div>
    <div class="col-4 col-sm-12 mb-1 px-1" >
        <button type="button" class="btn btn-secondary w-100 ">新增门店</button>
    </div>
    <div class="col-4 col-sm-12 mb-1 px-1" >
        <button type="button" class="btn btn-secondary w-100 ">管理门店</button>
    </div>
    <div class="col-4 col-sm-12 mb-1 px-1" >
        <button type="button" class="btn btn-secondary w-100 ">信息发布</button>
    </div>
    <div class="col-4 col-sm-12 mb-1 px-1 h-100" >

    </div>
</div>

<div class="col-sm-10 row mx-0 px-0">