{extend name="public/base"}

{block name="frame"}
<div class="col-sm-6 px-1">
    <form class="form-horizontal" id="soldForm1">
        <div class="form-group row">
            <label class="col-5 col-form-label">首页轮播图片</label>

            <label for="inputImage" class="col-7 btn btn-info" id="inputLabel">
                <input type="file" class="sr-only" id="inputImage" accept="image/*">
                <span>点击选择图片(最多9张)</span>
            </label>
        </div>
        <p id='picErrInfo' class="small text-danger sr-only">点击已选择图片，可删除</p>
        <div id="picGroup" class="form-group row" ></div>
    </form>
    <div class="col-sm-12">
    <div class="text-danger sr-only small text-center" id="submitInfoErr">
        信息填写不完整或有错误，请检查
    </div>
    <button id="addItem" class="btn btn-primary w-100 mb-5">确定</button>
</div>
<!-- 模态框（Modal） 用于遮罩效果-->
    <div id="myModal" class="modal fade" data-keyboard="false"
     data-backdrop="static" data-role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
        <div style="height: 300px;"></div>
        <div id="loading" class="loading text-right m-auto rounded text-white">加载中。。。</div>
    </div>
<!-- /.modal -->
    <div class="img-container sr-only">
        <img src="" alt="Picture">
    </div>
    <div class="sr-only" id="tempContainer"></div>
</div>

{/block}

